body{
    background-color: rgb(238, 238, 84);
}


  .container1{
      display: grid;
      grid-template-columns: 128px 275px 85px ;
      justify-content: center;
      column-gap: 10px;
      position: relative;
      
  }
  .one{
    background-color: rgb(236, 98, 12);
    padding: 10px 10px 10px 10px;
    
  }
  .two{
    background-color: white;
    padding: 10px 10px 10px 10px;
   
  }
  .three{
    background-color: green;
    padding: 10px 10px 10px 10px;
  }
  .main-container{
    width: auto;
    height: 680px;
    border-top: 10px solid white;
    border-left: 10px solid rgb(247, 164, 9);
    border-right: 10px solid green;
    border-bottom: 10px solid rgb(50, 205, 68);


  }
  .sky{
    width: 100%;
    height: 100vh;
    background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
   
  }
  .sun{
    background-image: url(./sun.png);
    background-size: 80px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 1200px; ;
    position: absolute;
    animation: sun 200s linear infinite;
}
@keyframes sun{
    100%{
        transform: translateX(-240px);

    }
}
  .city{
    background-image: url(./city.png);
     width: 500%;
     height: 250px;
     margin-top: 250px;
     position: absolute;
     background-repeat: repeat-x;
     animation: city 20s linear infinite;
     

  }
  @keyframes city{
    100%{
        transform: translateX(-1400px);

    }
  }
 .road{
    width:500%;
    height: 200px;
    display: block;
    background-image: url(./road.jpg);
    bottom:0;
    left: 0;
    right: 0;
    position: absolute;
    background-repeat: repeat-x;
    animation: road 10s linear infinite;
 }
 @keyframes road{
     100%{
            transform: translateX(-3400px);
     }
   
 }
 
 .car{
    background-image: url(./car.png);
    background-size: cover;
    width:40vw;
    height: 30vh;
    position: absolute;
    margin-top: 315px;
    margin-left: 350px;

 }
.wheel1,.wheel2{
    background-image:url(./wheel.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: wheel 1s linear infinite;
  
}
@keyframes wheel{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.wheel1{
    position: absolute;
    top: 120px;
    left: 47px;

}
.wheel2{
    position: absolute;
    top: 120px;
    left: 390px;

}
.flag{
    background-image: url(./flag.png);
    width: 10vw;
    height: 25vh;
    background-size: cover;
    position: absolute;
    margin-top: 280px;
    margin-left: 740px;

}